
html{
	font-family: montserrat,sans-serif;
}

body{
    margin:0;
}

header {

	height: 4em;
	background-image: url(img/header-bg.jpg);
	position: relative;
	width: 100%;
	
}

header img{
	position: fixed;
	margin-left: 20%;
	top: 1%;
}
header nav{
	display: flex;
	color: white;
	flex-direction: row;
	justify-content: right;
	margin-right: 20%;
}

header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  }

header li{
	float: left;
}

header li , a{
 	display: block;
  	color: white;
  	padding: 10px 5px;
  	text-decoration: none;

}

header li a:hover {
	background-image: linear-gradient(white, white);
	background-position: top center ;/*Adjust the background-position to move the line*/
	background-size: 100% 3px; /*Adjust the background size to control length and height*/
	background-repeat: no-repeat;	
	margin-top: 0;
	padding-top: 10px;
  }



.underline {
	background-image: linear-gradient(rgb(79, 183, 243), rgb(79, 183, 243));
	background-position: bottom center; /*Adjust the background-position to move the line*/
	background-size: 3% 4px; /*Adjust the background size to control length and height*/
	background-repeat: no-repeat;
	padding-bottom: 20px; /* this can also control the position */
}
  

footer{
	background-color: rgb(64, 165, 224);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 7%;
	color: white;	
}

footer p{
	text-align: center;
	position: relative;
	
}


main {
	display: flex;
	flex-direction: column;
	position: relative;

}

.décoration-titre{
	text-decoration: underline rgb(79, 183, 243);
	text-decoration-thickness: 4px;
	text-underline-offset: 1em;
	padding-bottom: 1em;


}

article{
	text-align: center;
	margin-top: 100px;
}

button{
	background-color: white;
	display: inline-block;
	padding: 20px;
	padding-left: 15px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	border: solid;
	border-width: 1px;
	border-color: rgb(55, 177, 253);
}